body,div { margin:0; border:0; padding:0; }

div.fixed-container {
    border:0; margin:0; padding:0;
    width: 100%;
    position: fixed;
}

    div.header-container {
        height: 40px;
        background-color: white;
        width: 100%;
        display: block;
    }
        div.company-name-container {
            margin:3; border:3; padding:3;
            font-size: 28px;
            color:black;
            float: left;
        }
            div.company-logo {
                float:left;
                height: 30px;
                width: 80px;
            }

            div.company-name {
                float:left;
                font-size: 25px;
                color:darkblue;
            }
        div.icons-container {
            margin:6; border: 6; padding: 6;
            float:right;
        }



button.icon-button {
    background-color: #00d1b2;
    color : #fff;
    border-radius: 5px;
    border : 1px solid transparent;
    font-size: larger;
    transition: 1.5s;
}
    button.icon-button:hover {
        background-color: green;
        transform:rotate(360deg);
        cursor: pointer;

    }

button.mobile-page-button, button.bar {
    border:0; margin:15;
    padding-top: 7; padding-bottom: 7; padding-left: 25; padding-right: 25;
    border-radius: 25px; 
    text-align: center; 
    font-size:x-large;
    background-color: #3298dc; 
    transition: 0.1s;
    color: white; 
    outline: none;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: none;
    width: max-content;
}

div.desktop-menu-container{
    display: none;
}

div.mobile-menu-container{
    padding:5;
    background-color: black;
    display: block;
    position: fixed;
    width: 100%;
    height: fit-content;
    position: fixed;
}
    
div.image-container {
    display: block;
    width: 100%;
    margin: 10px; padding-top: 120;
}
